#ui-toolbar>.content>.ui-button {
    &.ui-composer-btn {
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #364346;

        &:hover {
            color: #fff;
            background-color: #2c393c;
        }
    }
}

